* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  transition: .3s all;
}

body {
  font-family: 'Merriweather', sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--body-bg);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, ul, li, a, p {
  margin: 0;
  padding: 0;
}

a,
p {
  list-style: none;
  text-decoration: none;
}
