.footer {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: var(--section-bg);
}

footer.hidden {
  display: none;
}

.footer > a {
  font-size: 3rem;
  color: var(--font-color);
}

.fa-brands.fa-github {
  color: var(--github-color);
}

.fa-brands.fa-instagram {
  color: var(--insta-color);
}